/** forms.scss
    Contains css for the forms  
    -- Developed and Maintained by 
    Sukor Consulting **/ 

@import "../mixins/helpers";

.form-control:focus{
	outline: none !important;
	border-color: #fff !important;
	@include prefix(box-shadow, none , 'webkit' 'moz');
}



//Login Form

.logincontainer{
  height: 800px;
  form{
   width: 400px;
   .subcaption{
      color: #555 !important;
      font-size: 16px;
    }
    .loginbtn {
      width: 120px !important;
      font-size: 15px !important;
      font-weight: bold !important;
      letter-spacing: 0.05em !important;
      margin-left: 20px !important;
    }
  }
}
